.App {
  font-family: sans-serif;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0 auto;
  background-color: pink;
  height: 300px;
  border: 1px solid grey;
}

.avatar {
  border-radius: 80px;
  margin: 20px 0px;
  border: 1px solid grey;
  padding: 5px;
}

.line {
  border: 2px grey solid;
  height: 0px;
}

.icon {
  color: grey;
  font-size: 14px;
  margin: 5px;
}

.icon ::hover {
  color: red;
}
